<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>

<body>
 
    <img src="C:\Users\Lenovo\Desktop\IMG_20210317_142945_587.jpg" alt="" width="1000" height="333">
    <img Absolute src="C:\Users\Lenovo\Desktop\IMG_20210317_142945_587.jpg" />
    <h1 style="background-color:rgb(255, 99, 71);">Welcome To LLM</h1>
    <h1 style="background-color:#ff6347;"> This is Dot.Net Training.</h1>
    <h1 style="background-color:hsl(9, 100%, 64%);">Training By DHEERAJ SIR</h1>

    <h1 style="background-color:rgba(255, 99, 71, 0.5);">Team Members are:</h1>
    <h1 style="background-color:hsla(9, 100%, 64%, 0.5);">
        1: Aditi
        2: Ayush
        3: Satish
        4: Abhishek
        5: Shristhi
        6: Trainer : DHEERAJ SIR
    

     style="background-color:DodgerBlue;">Today`s Task Is Creating A Mailing API With Multiple CC`s</>
    <p style="background-color:Tomato;">
        This is Dot.Net Training.
        <br>
        Training By DHEERAJ SIR
        <br>
            "This is LLM Training Session"
            "Training By DHEERAJ SIR"
            "DotNet Training Content:"
            "Topics Covered are:"
            1. C# Methods.
            2. C# Classes.
            3. C# OOPS Concepts.
            a. Inheritence.
            b. Polymorphism.
            c. Data Abstraction.
            d. Encapsulation.
            4. C# Basic Details.
            5. C# Hence Basic Details are.
        </h1>
    </p>

    <h2>
        <p1 style="background-color:Tomato;">
            C# Methods, C# Classes, OOPS Concepts, Data Abstraction,
            
        </p1>

    </h2>
    <div class="footer">
        <h2>
            Thanks & Regards
            Limitless Family
            <br>
            Limitless Mobility Solutions Pvt. Ltd.
            Signature Tower, 1st Floor, Plot No. 3,
            Knowledge Park- III, Gr Noida- 201308, U.P, India
            Mobile: +91-95650860712 | Email: ayush@limitlessmobil.com
            <br>
            Website: www.limitlessmobil.com
            <br>
            <br>
            Page Created By "Created By AYUSH"         
        </h2>
    </div>

</body>
</html>